[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gde"]
	path = gde
	url = https://github.com/smithsonian/gbif-dataset-explorer
